<div class="w-full">
    <div class="bg-white  px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-lg font-bold mb-2" for="title">
          Note Title
        </label>
        <input [(ngModel)]="note.title" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="title" type="text" placeholder="Note Title">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-lg font-bold mb-2" for="content">
          Note Content
        </label>
        <textarea [(ngModel)]="note.content" rows="20" cols="50" class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="content" placeholder="Note Content"></textarea>
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" (click)="save()">
          Save
        </button>
      </div>
    </div>
</div>

